<a routerLink="/emAdd">TODO MAKE THIS LINK TO ADD COMPONENT</a>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of empList; let i = index">
            <td>{{ employee.employee_first_name }}</td>
            <td>{{ employee.employee_last_name }}</td>
            <td>{{ employee.employee_id }}</td>
            <td>
                <button>TODO ADD EDIT</button>                    
                <button>TODO ADD DELETE</button>                    
                <button>TODO ADD DETAILS VIEW</button>
            </td>
        </tr>
    </tbody>
</table>
